/* Main Infos */
.current-info-weather {
  display: flex;
  color: var(--card-color, #ffffff);
  justify-content: space-between;
}
.center-info {
  flex: 0.3;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.center-info img {
  width: 200px;
}

.center-info h2 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.left-info {
  flex: 0.3;
  height: 291px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-top: 20px;
}
.right-info {
  display: flex;
  flex: 0.3;
  flex-wrap: wrap;
  padding-top: 25px;
  justify-content: space-between;
}

.left-info > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 50px;
  margin: 0;
  color: linear-gradient(
    80.34deg,
    #292929 -2.93%,
    rgba(255, 255, 255, 0) 212.44%
  ) !important;
}

.left-info > p {
  margin: 0;
  color: var(--muted-color, rgba(255, 255, 255, 0.8));
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.left-info > p span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.left-info .astro:first-of-type {
  margin-top: 40px;
}
.left-info .astro {
  display: flex;
  gap: 10px;
  margin-left: 15px;
  margin-top: 15px;
}
.left-info .astro > span {
  display: flex;
  flex-direction: column;
}
.astro > span > span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.astro > span > span + span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
